*.gz
*.tgz
*.zip
*.7z
*.rar
*.exe
*.msi
*.dmg
*.iso
*.img
*.toast
*.vdi
*.vhd
*.vmdk
*.raw
*.dmg
*.iso
*.img
*.toast
*.vdi
*.aux
*.out
*.log
*.bak
*.swp
*.tmp
*.patch
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
*.whl
*.snm
*.toc
*.nav